body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 700;
}

#navbar {
  background: #f1f3ff;
}

#navbar-brand {
  padding-left: 2.4rem;
}

#navbar-body {
  font-weight: bold;
}
#hero {
  background: #f1f3ff;
  margin-bottom: 7rem;
  min-height: 24.75rem;
}

#hero #detail-text-hero p {
  padding-right: 9rem;
}

#our-service {
  margin-bottom: 7rem;
}

.lgi {
  padding-top: 2rem;
}

#list-item {
  padding-top: 2rem;
}

#why-us {
  margin-bottom: 7rem;
}

#why-us img {
  width: 2rem;
  height: 2rem;
}

#why-us h5 {
  font-size: 1rem;
  font-weight: 700;
}

#testimonial {
  margin-bottom: 7rem;
}

#cta-banner {
  margin-bottom: 7rem;
}

#cta-banner .container {
  border-radius: 13px;
  height: 326px;
  background: #0d28a6;
}

#cta-banner .detail {
  color: white;
  text-align: center;
  /* padding-top: 4rem; */
}

#cta-banner h2 {
  font-family: Arial;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0em;
}

#cta-banner p {
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
}

#cta-banner #btn-sewa-ctabanner {
  background: #5cb85f;
}

#faq {
  margin-bottom: 7rem;
}

#footer a {
  color: black;
  text-decoration: none;
}

#footer a:hover {
  color: #0d28a6;
}
